* {
  margin: 0;
  padding: 0;
}


body::-webkit-scrollbar {display:none;}
body::-moz-scrollbars {display:none;}
body::-o-scrollbar {display:none;}
body::-google-ms-scrollbar {display:none;}
body::-khtml-scrollbar {display:none;}

.scroll-page {
  background-image: url("https://bienvu.github.io/scroll-page/demo4/tipico.jpg");
  background-position: top center;
  background-size: 100% auto;
  background-color: #000;
  overflow-x: hidden;
  overflow-x: -moz-scrollbars-none;
}

.scroll-page__image img {
  width: 100%;
  height: auto;
  opacity: 0;
}

#content browser {
 margin-right: -14px !important;
 overflow-y: scroll;
 overflow-x: hidden;
}
