#infinite-list {
  /* We need to limit the height and show a scrollbar */
  /* width: 100%;
  height: 100%;
  overflow: auto; */

  width: 100%;
  height: 100vh;
  /* overflow: auto; */
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

body {
  background: #000;
}

#infinite-list div {
  line-height: 0;
}

* {
  margin: 0;
  padding: 0;
}

/* Optional eye candy below: */
li {
  padding: 10px;
  list-style-type: none;
}
li:hover {
  background: #ccc;
}
